body {
    font-family: Arial, sans-serif;
    margin: 30;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.6;
}

ul, ol {
    margin-left: 20px;
    list-style-type: none; 
}

li {
    margin-bottom: 5px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}




/* Style de base pour les boutons */
.button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; 
    background-color: hsl(0, 0%, 58%); 
    color: #fff; 
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }  
  /* Style au survol */
  .button:hover {
    background-color: #555; 
  }

  .buttonNAV {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 10px; 
    background-color: hsl(0, 0%, 58%); 
    color: #fff; 
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .buttonNAV:hover {
    background-color: #555; 
  }

  /* Style pour les boutons de taille différente */
  .button.large {
    padding: 15px 30px;
    font-size: 18px;
  }
  
  /* Style pour les boutons de couleur différente */
  .button.primary {
    background-color: #007bff; 
    color: #fff; 
  }
  
  .button.secondary {
    background-color: #6c757d; 
    color: #fff; 
  }
  
  .button2 {
    display: inline-block;
    padding: 4px 8px;
    border: none;
    border-radius: 20px; 
    background-color: hsl(0, 0%, 72%); 
    color: #fff; 
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .MINIbutton {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 10px; 
    background-color: hsl(0, 0%, 58%); 
    color: #fff; 
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .MINIbutton:hover {
    background-color: #555; 
  }



  /* Style de base pour les champs de saisie texte */
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; 
  }
  
  /* Style lorsque le champ de saisie est survolé */
  input[type="text"]:hover {
    border-color: #007bff; 
}
  

/* Style de base pour les listes non ordonnées et ordonnées */
ul, ol {
    margin: 0; 
    padding: 0; 
  }
  
  /* Style de base pour les éléments de liste */
  li {
    list-style: none; 
    margin-bottom: 5px; 
  }
  
  /* Style de survol pour les éléments de liste */
  li:hover {
    background-color: #f0f0f0;
    cursor: pointer; 
  }



  /* Style de base pour les champs de saisie de mot de passe */
input[type="password"] {
    padding: 10px; /* Marge intérieure */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille de la police */
  }
  
  /* Style lorsque le champ de saisie est survolé */
  input[type="password"]:hover {
    border-color: #007bff; /* Couleur de la bordure au survol */
  }
  
  /* Style lorsque le champ de saisie est en focus */
  input[type="password"]:focus {
    outline: none; /* Suppression du contour */
    border-color: #007bff; /* Couleur de la bordure en focus */
    box-shadow: 0 0 5px #007bff; /* Ombre autour du champ de saisie en focus */
  }
  
  

/* Style des boutons radio */
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #2a5f26;
    margin: 0 5px 0 0;
    cursor: pointer;
  }
  
  /* Style du bouton radio coché */
  input[type="radio"]:checked {
    background-color: #2a5f26;
  }
  


 