
/* Improvements: */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.container {
    max-width: 800px;
    margin: 0 auto;
}

article {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
    padding: 1em;
    margin-bottom: 1em;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) {
    article {
        display: flex;
        align-items: center;
    }

    article img {
        flex: 1;
        max-width: 300px;
        margin-right: 1em;
    }
}

